body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    margin-left: 150px;
}

#logo {
    margin-left: 150px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #457b9d;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.links a:hover {
    color: #ba5d2c;
}

.bottom-nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #ba5d2c;

}

h1 {
    margin-left: 100px;
    color: white;
    font-size: 25px;
}

.main-content {
    width: 90%;
    height: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.filters {
    height: 300px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.filters h2 {
    font-size: 16px;
    color: #ba5d2c;
}

.search-inp {
    width: 60%;
    border: none;
    border-bottom: 1.5px solid #ba5d2c;
}

.search-inp::placeholder {
    color: #457b9d;
}

.filter-btns {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.btn {
    border: none;
    background-color: rgba(1, 1, 1, 0);
    font-size: 15px;
    color: #457b9d;
    font-weight: 600;
    cursor: pointer;
}

.products-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: center;

}

.products-container-after {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;

}

.each-product-container {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-price-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;

}

.product-name {
    font-size: 17px;
    color: #457b9d;

}

.product-price {
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.product-view-btn img {
    width: 35px;
    height: 35px;
    display: none;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product-view-btn {
    border: none;
    background-color: rgba(1, 1, 1, 0);
    cursor: pointer;
}

.img:hover .icon {
    display: inline;
}

.expanded-view-products-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: -40px;

}

.expanded-each-container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.aside-after-expanded {
    display: none;
}

.name-price-container-expanded {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;

}

.product-name-expanded {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #ba5d2c;
    font-weight: 500;
}

.product-price-expanded {
    color: #1d3557;
    font-size: 20px;
}

.descr {
    color: #457b9d;

}